extends layout
block content
	#banner.page-header
		.row
			.col-md-6.col-sm-12
				img(src='../../images/dpfinal.jpg' width='200')
		.row
			.col-md-8.col-sm-12
				h1 3 short term goals
				p
					| Learning a new set of skills developed in recent years
					br
					| Gaining experience in leadership and team-building
					br
					| Gaining experience in public speaking
				h1 Where do i see myself in 5 years
				p
					| My goal right now is to find a position at a company where I can grow and take on new challenges over time. Ultimately, I’d like to assume more management responsibilities and get involved in product strategy. But most importantly, I want to work for an organization where I can build a career.”
				h1 What interests you about web development?
				p
					| I started out by writing news and reviews on a website and I needed to learn how to put links and images into the content I wrote. Once I'd learned how to do that, I thought that there wasn't much sense in just stopping there. So I continued learning about HTML and naturally progressed from there.