extends layout

mixin pagetitle
    h1 News of the Day

block content
    .row.page-header
        .col-lg-12
            +pagetitle
            
    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-sm-6
                    p KITCHENER TOP STORIES
                        .panel.panel-primary
                            .panel-heading
                                h2.panel-title Brief News
                            .panel-body
                                ul
                                    each news in allNews
                                        li=news.content
                        .panel.panel-primary
                            .panel-heading
                                h2.panel-title Must Visit Places
                            .panel-body
                                span.label.label-warning
                                    | &nbsp;Victoria Park
                                | &nbsp;
                                span.label.label-warning
                                    | &nbsp;Huron Natural Area
                                | &nbsp;
                                span.label.label-warning
                                    | &nbsp;Waterloo Region Museum
                                | &nbsp;
                .col-xs-12.col-sm-6.location-map
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Location map
                        .panel-body
                            iframe(height=300, width=380, frameborder=0, src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2899.3449997019893!2d-80.40816168458889!3d43.39071797913114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b9018e9e89adf%3A0x2043c24369ede07e!2sConestoga+College!5e0!3m2!1sen!2sca!4v1540159139306')
            .row
                .col-xs-12
                    .panel.panel-primary.review-panel
                        .panel-heading
                            h2.panel-title Interesting Facts about Kitchener
                        .panel-body.review-container
                            .row
                                .review
                                    .well.well-sm.review-header
                                        span.reviewAuthor In 2010, the Province of Ontario moved each municipal election day from the second Monday in November to the last Monday in October.
                                    .col-xs-12
                                        p Voters were asked to vote on the fluoridation of water in 1967 and did not pass
                            .row
                                .review
                                    .well.well-sm.review-header
                                        span.reviewAuthor In 1978, the city was divided into 10 wards with a council of a mayor and 10 aldermen (one per ward). Eight of the aldermen also sat on regional council, as selected by a vote of city council.
                                    .col-xs-12
                                        p The size of city council decreased to a mayor and six councillors in 2000.
        .col-xs-12.col-md-3 
            h2 About Client
            p.lead Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.